@import 'general.scss';
@import 'primeeng-custom.scss';
//@font-face {
//  font-family: 'Ubuntu';
//  font-style: normal;
//  font-weight: 400;
//  src: local('Ubuntu'), url(http://example.com/fonts/ubuntu.woff) format('woff');
//}

:root {
  --gray-color: #909095;
  --blue-dark-color: #254558;
  --gray-dark-color: #2b2b3a;
  --white-color: #f9f9f9;//#eaebec;
  --white-color-opacity: rgba(234, 235, 236, .1);
  --blue-color: #1ed2f4;
  --yellow-color: #eafc40;
  //--gradient-footer: linear-gradient(to right, var(--gray-dark-color) 35%, var(--blue-dark-color) 70%, var(--white-color) 100%);
  --gradient-footer: linear-gradient(to right, var(--gray-dark-color) 35%, var(--blue-dark-color) 70%, var(--white-color) 100%);

  //--gradient-header: linear-gradient(to right, var(--gray-dark-color) 15%, var(--gray-color) 50%,var(--blue-dark-color) 100%);
  --gradient-header: linear-gradient(to right, var(--white-color) 35%, var(--gray-color) 55%,var(--gray-dark-color) 90%);

}
.input-error {
  border: 1px solid red !important;
}
.wrapper{
  display: flex;
  flex-direction: row;
  //line-height: 100%;
  width: 100%;
  padding: 1rem 1rem;
  justify-content: space-between;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html,body { min-height: 100% !important;
  height: 100%; } /* always display scrollbars */
body {
  font-size: 12px;//62.5%;
  line-height: 1;
  font-family: Ubuntu, Tahoma, Verdana, sans-serif;
  background-color: var(--gray-dark-color);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong { font-weight: bold; }

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }
.wrapper{
  height: 100%;
  width: 100%;
  overflow: auto;
}
