.main{
  display: inline-block;
  height: 100%;
  width: 100%;
}
.content{
  width: 100%;
  height: 85%;
  padding: .5rem;
}
.header{
  display: inline-block;
  margin: 0;
  width: 100%;
  height: 10%;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.footer{
  display: inline-block;
  margin: 0;
  width: 100%;
  height: 5%;
  //position: absolute;
  //bottom: 0;
}
