<p-scrollPanel [style]="{ width: '100%', height: '100%' }" >
<div class="main">
  <div class="header">
    <app-header></app-header>
  </div>

    <div class="content">
    <router-outlet></router-outlet>
    </div>

  <p-toast position="top-right"></p-toast>

  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
</p-scrollPanel>




