.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  justify-content: flex-start;
}
.regform{
  display: flex;
  flex-direction: column;
}
.regform-item{
  margin: .5rem ;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}
.input-error{
  border: 1px solid red !important;
}
//.controls{
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-start;
//}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

