<div class="wrapper">
  <div class="controls">
    <div class="control_item">
  <form #form="ngForm" (ngSubmit)="sendForm(form)" >
    <div class="regform">
      <div class="regform-item">
        <span>Акция</span>
        <p-dropdown [style]="{width:'250px'}"
                    placeholder="Выберите акцию"
                    [options]="this.shortStocks"
                    [(ngModel)] = this.selectedShortStock
                    optionLabel="shortName"
                    [filter]="true"
                    filterBy="shortName,secId"
                    name="selectedShortName">
        </p-dropdown>
      </div>
      <div class="regform-item">
        <span>Цена:</span>
        <p-inputNumber [style]="{width:'250px'}"
                       [placeholder]="this.selectedShortStock?.price?.toString() ?? ''"
                       [maxFractionDigits]="10"
                       [(ngModel)] = price
                       name="price"
        />
      </div>
      <div class="regform-item">
        <span>Количество:</span>
        <p-inputNumber [style]="{width:'250px'}"
                       placeholder="0"
                       [(ngModel)] = count
                       name="count"/>

      </div>
      <div class="regform-item" style="z-index: 1000;">
        <span>Дата покупки:</span>
        <input pInputText [ngModel]="ownDate | date:'yyyy-MM-dd'"
               (ngModelChange)="ownDate = $event" t
               type="date"
               [style]="{width:'250px'}"
               name="ownDate"/>
      </div>
    </div>
    <br>
    <div class="buttons" >
      <p-button [ngStyle]="{'text-align': 'center'}" styleClass="p-button-sm" *ngIf="workSpaceService.checkedOrder&&IsFormValid"  (onClick)="handleSave()">Сохранить</p-button>
      <p-button [ngStyle]="{'text-align': 'center'}" styleClass="p-button-sm" *ngIf="!workSpaceService.checkedOrder&&IsFormValid&&!isOrderExists" (onClick)="handleAdd()">Добавить</p-button>
      <p-button [ngStyle]="{'text-align': 'center'}" styleClass="p-button-sm" *ngIf="workSpaceService.checkedOrder||isFormEdited" (onClick)="handleCancel()">Отмена</p-button>
      <p-button [ngStyle]="{'text-align': 'center'}" styleClass="p-button-sm" *ngIf="workSpaceService.checkedOrder" (onClick)="handleDelete()">Удалить ордер</p-button>
    </div>
  </form>
    </div>

  </div>
</div>

